{% extends "layout.html"%}
{% block content %}
<body class="bgcolor grid-container">

    <div class="grid-container"><p class="cabin-sketch-bold ">Project X</p></div>

    <div class="box">

        <form method="post" action="{{('checkuser')}}">

        <div class="container-column"><input class="input1" type="text" maxlength="16" placeholder="User name" name="usr_nme"></div>
        <div class="container-column"><input class="input1" type="password" maxlength="15" placeholder="Password" name="pwd"></div>
        <div class="container-column"><input type="submit" value="Log-in" name="login" class="loginbutton"></div>

        </form>

        <div><hr class="shr"></div>

        <div class="container-column forgot">Forgot passowrd</div>

        <form action="{{ url_for('signup') }}" method="get">

            <div class="container-column"><input type="submit" value="Sign-up" name="signup" class="signupbutton"></div>

        </form>

        <div class="grid-container container-column">
            <img class="img04" alt="picture" src="static/styles/04.svg">
        </div>

    </div>

</body>
</html>
{% endblock content%}