.box1{
    height: 600px;
    width: 30%;
    border: 1px solid white;
    float: left;

}

.box2{
    height: 600px;
    width: 69%;
    border: 1px solid white;
    float: right;
}

.koho-extralight {
    font-family: "KoHo", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.koho-regular {
    font-family: "KoHo", sans-serif;
    font-style: normal;
    font-size: 20px;
    
}

.msginput{
    font-family:"KoHo", sans-serif;
    border: 1px solid #ffffff;
    border-radius:7px; /* Adjust the value to control the roundness */
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 60%;
    float: left;
    margin-left: 20px;
    margin-top: 0px;

}

.send{
    font-family:"KoHo", sans-serif;
    border: 1px solid #ffffff;
    border-radius:7px; /* Adjust the value to control the roundness */
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 10%;
    float: right;
    margin-right: 20px;
    position: absolute;
    margin-top: 0px;

}

/* static/styles.css */


#chat {
    width: 100%;
    border: 1px solid #ccc;
    background-color: rgb(0, 0, 0);
}

#messages {
    height: 450px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: black;
}

#message {
    width: 200px;
    padding: 10px;
    color: #ffffff;
    background-color: black;
}

button {
    padding: 10px;
}

